#container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;

    /* flex direction property */
    /* flex-direction: column; */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse;  */

    /* justify-content property */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */

    /* flex wrap property */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* Align items property */
    /* align-items: center;
    align-items: baseline;
    align-items: end;
    align-items: flex-end;
    align-items: last baseline;
    align-items: flex-start; */
/* 
    /* align contents */
    /* justify-content: flex-start;
    flex-direction: row; */ 
    /* flex-wrap: wrap; */
    /* align-content: center;
    align-content: flex-end;
    align-content: flex-start; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: space-evenly; */
    /* align-content: baseline; */
    /* align-content: flex-end; */
}

#org {
    align-self: flex-start;
    /* flex-basis: 300px;
    flex-grow: 1; */
    /* flex-shrink: 1; */
    flex: 2 2 200px;
}

#blue {
    /* flex-basis: 400px;
    flex-grow: 2; */
    flex-shrink: 3;
}

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}