body {
    margin-left: 20px;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg {
    background-color: aqua;
    padding: 8px;
    border-radius: 16px;
}
.edit, .delete {
    border-radius: 4px;
}
