div {
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url(https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_640.jpg);
    background-size: cover;
}   